@model Lektion6.Models.Entities.User
@{
    ViewBag.Title = "Create";
}

<h2>Create New User</h2>
@using (Html.BeginForm()) { 
<div>
    <p>
        <span></span>
    </p>
</div>
<div>
    <input type="submit" value="Create" />
</div>
}