@using Lektion6.Models.Entities
@{
    ViewBag.Title = "Index";
    List<User> users = ViewBag.Users;
}

<h2>Index</h2>

<table border="0" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <th>
                Full Name
            </th>
            <th>
                Username
            </th>
        </tr>
    </thead>
@foreach (var user in users)
{
    <tr>
        <td>
            @Html.ActionLink(user.UserName, "Details", "User", new {id = user.UserName }, null)
        </td>
        <td>
            @user.FullName
        </td>
    </tr>
}
</table>
